.Weather {
    max-width: 750px;
    padding: 16px;
    color: rgb(135, 135, 135);
    margin: 15px auto;
}

.Weather .weather-app {
    border: 1px solid #e9eaec;
    padding: 30px;
    border-radius: 14px;
    background-color: white;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  }

  .Weather .searchBar .searchBarInput {
    padding: 6px;
    border-radius: 6px;
    border: gray solid 0.5px;
  }

  .Weather .searchBar .btn{
    margin-left: 5px;
    }

  .Weather .overview {
    margin-bottom: 20px;
    text-align: center;
  }

  .Weather .weather-temperature strong {
    color: rgb(56, 56, 56);
    font-size: 64px;
    line-height: normal;
    font-weight: 400;
  }

  .Weather .current-conditions {
    padding: 20px 35px;
  }
